*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}


body{
    color: white;
    background-color: #20252C;
    text-decoration: none;
}

.container{
    width: 600px;
    margin: 10px auto;
    padding: 20px;
    margin-top: 10px;
}

a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

header a {
    font-size: 20px;
    font-weight: bold;
}

figure{
    display: flex;
    justify-content: center;
}

.img{
    width: 250px;
    border-radius: 5px;
}

.title{
    color: white;
}

h1,
h3{
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards a{
    text-decoration: none;
}

.card{
    max-width: 250px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 30px;
    cursor: pointer;
    transition: all 400ms ease;
    border-radius: 10px;
}


.card:hover{
    transform: scale(1.1);
}

.card-body{
    background-color: #fff;
    color: purple;
}


.images{
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}


li{
    margin-top: 10px;
}

.paragraph{
    margin: 30px;
}